---
import Image from 'astro/components/Image.astro';
import AreasCoveredImg from '../assets/images/areas-covered.png';
---
<div class="box">
    <div>
        <h2 class="text-[60px] font-perfectly-nineties text-center">Areas Covered</h2>
        <p class="text-[16px] font-plus-jakarta-sans mx-auto text-center sm:w-1/2 lg:w-1/3">Serving developers and homeowners across London, from Hampstead to Clapham</p>
    </div>

    <Image src={AreasCoveredImg} alt="Areas Covered" class=" mt-10 ml-2 w-full h-auto md:ml-6" />
</div>