---
import Call from '../assets/icons/call.svg';
import Location from '../assets/icons/location.svg';
import Watch from '../assets/icons/watch.svg';
---
<div class=" font-plus-jakarta-sans bg-primary py-3 lg:flex justify-between px-12 xl:px-20 hidden">
    <div class="flex gap-6 xl:gap-8">
        <div class="flex gap-2.5">
            <Call />
            <p class="text-sm">07383 435 879</p>
        </div>
        <div class="flex gap-2.5">
            <Location />
            <p class="text-sm">LLC 608 W Johnson st Unit 21 Raleigh, NC 27603</p>
        </div>
    </div>
    <div>
         <div class="flex gap-2.5">
            <Watch />
            <p class="text-sm"><span class="font-bold">Mon - Thu</span>: 10 - 7 PM & <span class="font-bold">Fri</span>: 10 to 5 PM</p>
        </div>
    </div>
</div>