---
import Broom from '../assets/icons/broom.svg';
import Fi1 from '../assets/icons/fi-1.svg';
import Fi2 from '../assets/icons/fi-2.svg';
import Fi3 from '../assets/icons/fi-3.svg';
import Fi4 from '../assets/icons/fi-4.svg';
---
<div class="box flex  bg-primary justify-between px-[50px] py-12 mt-[120px]">
    <div class="w-1/2 flex justify-between gap-6">
      <div>
          <h1 class="font-perfectly-nineties text-[60px]">Why Choose Us</h1>
        <p class="font-plus-jakarta-sans text-[18px] mt-5 mb-10">Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
         <button class="bg-btn-color font-plus-jakarta-sans text-white py-3 px-8 text-base ">
            Discover More
        </button>
      </div>
      <div class="flex items-end">
        <Broom/>
      </div>
    </div>
    <div class="grid grid-cols-2 pl-6 gap-5 text-[18px]  font-plus-jakarta-sans">
        <div class="bg-white w-[256px] h-[174px] p-5">
            <div class="bg-[#1587B81A] p-3 w-12 h-12 mb-5">
                <Fi1 />
            </div>
          
            <p>Specialists in post-construction cleaning</p>
        </div>
        <div class="bg-white w-[256px] h-[174px] p-5 ">
            <div class="bg-[#1587B81A] p-3 w-12 h-12 mb-5">
                <Fi2 />
            </div>
            <p>Trusted by developers & contractors</p>
        </div>
        <div class="bg-white w-[256px] h-[174px] p-5">
            <div class="bg-[#1587B81A] p-3 w-12 h-12 mb-5">
                <Fi3 />
            </div>
            <p>Detailed care for luxury finishes</p>
        </div>
        <div class="bg-white w-[256px] h-[174px] p-5">
            <div class="bg-[#1587B81A] p-3 w-12 h-12 mb-5">
                <Fi4 />
            </div>
            <p>Fully insured & vetted team</p>
        </div>
    </div>
</div>